<!DOCTYPE html>
<html>
  <head>
    <title>Checkin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
  </head>
  <body>
	  <div class="wrapper row">
		  
		  <div class="sidebar col-lg-2">
			  <div class="branding">
				  <h1>
					  <span class="glyphicon glyphicon-check"></span>
				  	  Checkin	
				  </h1>
			  </div><!-- /.branding -->
			  
			  <div class="profile-col">
				  <!--<img src="holder.js/112x112" alt="profile_pic" class="img-circle">-->
				  <img src="images/112x112_profile.jpg" alt="profile_pic" class="img-circle">
				  <h2>John Smith</h2>
				  <h3>Admin</h3>
			  </div><!-- profile-col -->
			  
			  <ul class="nav-menu">
				  <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
				  <li><a href="#"><span class="glyphicon glyphicon-check"></span> Checkins</a></li>
				  <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Absences</a></li>
				  <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
				  <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			  </ul><!-- /.nav-menu -->
		  </div><!-- /.sidebar -->
		  
		  <div class="content-body col-lg-10">
			  <div class="page-header">
			    <h1><span class="glyphicon glyphicon-user"></span> Users </h1>
			  </div><!-- /.page-header -->
			  
			  <!-- Users list -->
			  <table id="usersTable" class="table table-hover">
		          <thead>
		            <tr>
		              <th>#</th>
		              <th>Name</th>
		              <th>Email</th>
		              <th>Designation</th>
					  <th>&nbsp;</th>
		            </tr>
		          </thead>
		          <tbody>
				  	  <% var count = 0;
					  users.forEach(function(user) { %>
			            <tr>
			              <td><%= ++count %></td>
			              <td><%= user.name %></td>
			              <td><%= user.email %></td>
			              <td><%= user.desig %></td>
						  <td>
							  <a href="#removeUser" class="remove" data-toggle="modal" data-id="<%= user._id %>">
								  Remove
							  </a>
						  </td>
			            </tr>
					  <% }); %>
		          </tbody>
    		  </table><!-- /users listing -->
			  
			  <a href="/user/new" class="btn btn-primary">
				  <span class="glyphicon glyphicon-plus"></span> User
			  </a>	
			  
			  <!-- User remove modal -->
			  <div id="removeUser" class="modal fade">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			          <h4 class="modal-title">Remove user</h4>
			        </div>
			        <div class="modal-body">
			          <p>Are you sure that you want to remove this user?</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			          <button id="btn-remove-user" type="button" class="btn btn-primary" data-id="">Remove</button>
			        </div>
			      </div><!-- /.modal-content -->
			    </div><!-- /.modal-dialog -->
			  </div><!-- /.modal -->
			  
		  </div><!-- /.content-body -->
	  </div>



    <script src="javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/holder.min.js" type="text/javascript" charset="utf-8"></script>
	
    <script>
		$( document ).ready(function() {
			
			// bind user remove event
			// assigns user's id to remove btn id
			$('#usersTable a.remove').bind('click', function() {
				$('#btn-remove-user').data('id', $(this).data('id'));
			});
			
			// remove user btn click
			$('#btn-remove-user').click(function() {
				$.post('/user/remove', { user_id: $(this).data('id') }, function(data) {
					if(data.status == 1) {
						// do something
						// moving to renderjs
					}
				}, 'json');
			});
			
		}); 
	</script>
  </body>
</html>